{
    "categories": [
        {
            "label": "Cat 1",
            "items": [
                "/sub-dir",
                "/code-examples"
            ]
        }
    ],
    "order": [
        "/index",
        "/sub-dir",
        "/code-examples",
        "/sub-dir-2"
    ]
}
