{
    "categories": [
        {
            "label": "Cat 1",
            "items": [
                "/sub-dir",
                "/code-examples"
            ]
        }
    ],
    "order": [
        "/index",
        "/sub-dir",
        "/code-examples",
        "/sub-dir-2"
    ],
    "label": {
        "replacements": {
            "js": "JavaScript",
            "es6": "ES6"
        },
        "list_number_separator": ".",
        "number_separators": {
            "step": " -",
            "part": " ~"
        }
    }
}
