$fa-font-path: '~font-awesome/fonts';
@import '~font-awesome/scss/font-awesome';
@import './app-vars';

* {
    box-sizing: border-box;
}

// ----------------------------------
// misc
// ----------------------------------

.hidden {
    display: none;
}

svg {
    overflow: visible;
    user-select: none;
}

// ----------------------------------
// html
// ----------------------------------

html,
.app {
    display: block;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: $bg-color-dark;
    color: $text-color-light;
    height: 100%;
    margin: 0;
    padding: 0;
}

body,
div,
table,
li,
p,
input,
button {
    font-family: "Liberation Mono", Verdana, sans-serif;
    letter-spacing: 0.05em;
    line-height: 1.5em;
    font-size: 13px;
}

// ----------------------------------
// typography
// ----------------------------------

.logo {
    font-size: 18px;
    font-family: "Courier New";
    color: $light-green;
    text-shadow: rgba(lighten($light-green, 10%), 0.3) 0 6px 8px;
    display: inline-block;
    position: relative;
    width: 100%;

    @media screen and (min-width: $breakpoint-sm) {
        width: auto;
    }

    i {
        position: absolute;
        top: -34px;
        left: -22px;
        font-size: 86px;
        color: rgba(lighten($light-green, 2%), .5);
        filter: blur(2px);
        opacity: .2;
        text-shadow: rgba(lighten($light-green, 30%), .7) 0 0 12px;
    }

    .primary {
        background-color: rgba(#000, .2);
        padding: 5px 10px;

        @media screen and (min-width: $breakpoint-sm) {
            width: auto;
        }

        span {
            background-color: rgba(#000, .2);
            padding: 5px 10px;
        }
    }

    .secondary {
        font-size: .7em;
        font-family: "Droid Sans", "Trebuchet MS";
        color: lighten($light-blue, 2%);
        text-shadow: rgba(lighten($light-blue, 10%), .3) 0 6px 8px;

        @media screen and (min-width: $breakpoint-xs) {
            font-size: .9em;
        }
    }
}

h1 {
    margin-bottom: $big-v-pad * 2;
}

h1,
h2,
h3,
h4 {
    font-family: "Droid Sans", "Trebuchet MS";
    color: $heading-color-light;
    text-shadow: rgba($heading-color-light, .1) 0 10px 10px;
}

h3,
h4 {
    color: $subheading-color-light;
    text-shadow: rgba(lighten($subheading-color-light, 10%), .2) 0 6px 6px;
}

.highlight {
    background-color: rgba(#000, .6);
    color: $link-color-selected;
    font-weight: bold;
    padding: 0 10px;
}

// ----------------------------------
// links
// ----------------------------------

a {
    color: $link-color;
    cursor: pointer;
    text-decoration: none;
    transition: color .1s linear, text-shadow .1s linear, padding-left .2s linear;

    &:hover {
        color: $link-color-hover;
        text-shadow: 0 0 10px rgba($light-green, .5);
        transition: color 0s linear, text-shadow 0s linear;
    }
}

// ----------------------------------
// forms
// ----------------------------------

.btn-group {
    .btn {
        margin-left: 20px;

        &:first-child {
            margin-left: 0;
        }
    }
}

.btn {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    color: $link-color;
    cursor: pointer;
    min-width: 40px;
    padding: $small-v-pad $small-h-pad;
    text-align: center;
    text-transform: uppercase;
    transition: color .2s linear, background-color .2s linear;

    &:hover {
        background-color: $darker-red;
        color: $link-color-hover;
        transition: color .3s linear, background-color .3s linear;

        i {
            color: $link-icon-color-hover;
        }
    }

    &.selected,
    &:disabled {
        background-color: rgba(#000, .6);
        color: $link-color-selected;
        cursor: default;
        transition: color .2s linear, background-color .2s linear;
    }

    i {
        background-color: transparent;
        color: $link-icon-color;
        text-shadow: 0 0 15px #000;
    }
}

input {
    &[type='text'],
    &[type='password'] {
        background-color: $input-bg-color;
        border: 0;
        box-sizing: border-box;
        color: $input-text-color;
        font-size: 34px;
        padding: 10px 20px;
        width: 100%;

        &:focus {
            color: $input-text-color-focus;
        }
    }
}

// ----------------------------------
// structure
// ----------------------------------

.header {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: repeating-linear-gradient(
        135deg,
        rgba(darken($bg-color-med, 5%), .8),
        rgba(darken($bg-color-med, 5%), .8) 10px,
        rgba(darken($bg-color-med, 6%), .8) 10px,
        rgba(darken($bg-color-med, 6%), .8) 20px
    );

    @media screen and (min-width: $breakpoint-sm) {
        margin-bottom: $big-h-pad;
    }

    .content-wrapper {
        background: url('../assets/portfolio-header-bg.png') top left no-repeat;
        position: relative;
        width: 100%;
        position: relative;

        > .content {
            background-color: rgba(darken($bg-color-med, 4%), .8);
            height: 65px;
            border-bottom: 1px solid rgba($light-green, .15);
            margin: 0 0 $small-h-pad;
            padding: $med-h-pad;
            width: 100%;
            overflow: hidden;
        }
    }

    h3 {
        margin: 0;
    }
}

.footer {
    margin: $med-h-pad $med-h-pad + $small-h-pad;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and (min-width: $breakpoint-md) {
        margin: $big-h-pad;
    }
}

.page {
    display: flex;
    flex: 1;
    flex-direction: column;

    &.center-contents {
        align-items: center;
        justify-content: center;
    }

    .content-wrapper {
        background: repeating-linear-gradient(
            135deg,
            rgba(darken($bg-color-med, 5%), .8),
            rgba(darken($bg-color-med, 5%), .8) 10px,
            rgba(darken($bg-color-med, 4%), .8) 10px,
            rgba(darken($bg-color-med, 4%), .8) 20px
        );
        position: relative;

        > .content {
            background-color: rgba(darken($bg-color-med, 4%), .8);
            border-top: 1px solid rgba($light-green, .2);
            border-bottom: 1px solid rgba($light-green, .2);
            margin: $small-h-pad 0;
            padding: $med-h-pad $med-h-pad + $small-h-pad;
            min-height: 400px;

            @media screen and (min-width: $breakpoint-sm) {
                border: 1px solid rgba($light-green, .2);
                margin: $small-h-pad;
                padding: $med-h-pad $big-h-pad;
            }

            @media screen and (min-width: $breakpoint-md) {
                margin: $small-h-pad;
                padding: $big-h-pad;
            }

            h1:first-child {
                margin-top: 0;
            }
        }
    }

    @media screen and (min-width: $breakpoint-sm) {

        > .content {
            border: 1px solid rgba($light-green, .2);
            margin: $small-h-pad;
            padding: $small-h-pad;
        }
    }

    @media screen and (min-width: $breakpoint-md) {
        .content-wrapper {

            &:after {
                content: '';
                background: repeating-linear-gradient(
                    135deg,
                    rgba(darken($bg-color-dark, 3%), .2),
                    rgba(darken($bg-color-dark, 3%), .2) 10px,
                    rgba(darken($bg-color-dark, 1%), .2) 10px,
                    rgba(darken($bg-color-dark, 1%), .2) 20px
                );
                width: 100%;
                height: 100%;
                position: absolute;
                right: -$med-h-pad;
                bottom: -$med-h-pad;
                z-index: -1;
            }
        }
    }

    @media screen and (min-width: $breakpoint-lg) {
        margin: 0 auto;
        width: 1400px;
    }

    .header,
    .footer,
    .body {
        box-sizing: border-box;
    }

    .body {
        display: flex;
        flex-direction: column;

        @media screen and (min-width: $breakpoint-sm) {
            flex-direction: row;
        }
    }

    .aside-1 {
        order: 1;
    }

    .main {
        flex: 1;
        order: 2;
    }

    .aside-2 {
        order: 3;
    }
}

// ----------------------------------
// aside-1 nav
// ----------------------------------

.aside-1 .category {
    margin-left: $small-h-pad;
    margin-bottom: 0;
    font-family: "Droid Sans", "Trebuchet MS";
    font-size: 15px;
    color: $subheading-color-light;
    text-shadow: rgba($light-yellow, .1) 0 10px 10px;
}

.aside-1 .nav {
    list-style: none;
    padding: $small-h-pad 0 0;
    margin: 0;
    width: 100%;
    margin-bottom: $med-h-pad;

    @media screen and (min-width: $breakpoint-sm) {
        margin-bottom: 0;
    }

    .nav {
        padding-top: 0;
        padding-left: $med-h-pad;
    }

    .nav-item {
        line-height: 1.5em;

        &.selected {
            .sub-nav {
                display: block;
            }
        }

        a {
            cursor: pointer;
            display: block;
            font-family: "Droid Sans", "Trebuchet MS";
            letter-spacing: 0.05em;
            margin: 0 $med-h-pad;
            padding: $med-v-pad $small-h-pad;

            @media screen and (min-width: $breakpoint-md) {
                padding-left: $med-h-pad;
            }
        }

        .router-link-active {
            color: desaturate($light-yellow, 30%);
            padding-left: $nav-icon-width + $small-h-pad;
            //pointer-events: none;
            position: relative;
            transition: color 0s linear, padding-left 0s linear;

            @media screen and (min-width: $breakpoint-md) {
                padding-left: $nav-icon-width + $med-h-pad;
            }

            &::before {
                content: '\f0da';
                font-family: fontawesome;
                margin-left: -$nav-icon-width;
                position: absolute;
            }

            li {
                padding: 0;
            }
        }

        .sub-nav {
            display: none;

            .nav-item {
                line-height: 1.5em;

                a {
                    padding-top: $small-v-pad;
                    padding-bottom: $small-v-pad;
                }
            }
        }
    }
}

// ----------------------------------
// content structure
// ----------------------------------

.float-clear {
    clear: both;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.center-content {
    text-align: center;
}

// -------------------------------
// buttons
// -------------------------------

// blured

.btn-blured {
    filter: blur(4px);
    font-family: 'Latin Modern Roman caps';
    transition: filter .5s;

    &.selected,
    &:hover {
        filter: blur(0);
        transition: filter .5s;
    }
}

// submit

.btn-submit {
    background-color: $darker-red;
    box-shadow: 0 0 15px rgba(#000, .2);
    flex: 1;
    font-family: 'Latin Modern Roman caps';
    font-size: 34px;
    padding: 10px 30px;

    &:hover {
        background-color: #000;
        color: #fff;

        span {
            filter: blur(0);
            text-shadow: 0 0 15px #fff;
            transition: filter .5s;
        }
    }

    span {
        filter: blur(4px);
        transition: filter .2s;
    }
}

// ----------------------------------
// lists
// ----------------------------------

// ----------------------------------
// code
// ----------------------------------

pre {
    background-color: rgba(#000, .1);
    border: 1px solid rgba($light-yellow, .1);
    //box-shadow: 0 0 15px rgba($light-yellow, .05), inset 0 0 25px rgba(#000, .1);
    line-height: 1.5em;

    .hljs {
        background-color: transparent;
        font-size: 13px;
        overflow-x: auto;
        padding: $big-v-pad $med-h-pad;
        position: relative;

        &::before {
            color: rgba(#fff, .05);
            //filter: blur(5px);
            font-family: 'Latin Modern Roman caps';
            font-size: 34px;
            position: absolute;
            right: 10px;
            text-shadow: 0 0 10px rgba(#fff, .05);
            top: 15px;
        }
    }

    .hljs.language-scss {
        &::before {
            content: 'Sass';
        }
    }

    .hljs.language-html {
        &::before {
            content: 'HTML';
        }
    }

    .hljs.language-javascript {
        &::before {
            content: 'JavaScript';
        }
    }

    .hljs.language-bash {
        &::before {
            content: 'Bash';
        }
    }
}
