@import './app-vars';

// ----------------------------------
// structure
// ----------------------------------

.body {

    @media screen and (min-width: $breakpoint-sm) {
        padding-right: $med-h-pad * 2;
    }

    .aside {

        @media screen and (min-width: $breakpoint-sm) {
            min-width: $aside-1-width-sm;
        }

        @media screen and (min-width: $breakpoint-md) {
            min-width: $aside-1-width-md;
        }

        @media screen and (min-width: $breakpoint-lg) {
            min-width: $aside-1-width-lg;
        }
    }

    .main {
        position: relative;

        // the following flex: 1 100% is not working with overflow auto child elements
        // so the calc approaches are workarounds
        // flex: 1 100%;

        @media screen and (min-width: $breakpoint-sm) {
            width: calc(100% - #{$aside-1-width-sm});
        }

        @media screen and (min-width: $breakpoint-md) {
            width: calc(100% - #{$aside-1-width-md});
        }

        @media screen and (min-width: $breakpoint-lg) {
            width: calc(100% - #{$aside-1-width-lg});
        }
    }
}
